:root {
  --field-width: 142px;
}

.search-bar-outer {
  border-radius: 33px;
  box-shadow: 0px 0px 20px lightgray;
}

.search-bar {
  font-size: 12px;
  border: 1px solid lightgray;
  float: inherit;
  border-radius: inherit;
  display: grid;
  grid-template-columns:
    calc(var(--field-width) * 2) var(--field-width) var(--field-width)
    calc(var(--field-width) * 2);
  margin: 0 auto;

  .search-field {
    padding: 14px 2rem;
    position: relative;

    .input {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > div:not(:last-child) {
    position: relative;

    &::after {
      content: '';
      background-color: #dddddd;
      height: 2rem;
      width: 1.5px;

      position: absolute;
      top: 1rem;
      right: 0;
    }
  }

  label {
    display: block;
    border: 0px;
  }

  input {
    border: 0px;
  }
}

.search {
  display: flex;
  position: relative;

  .search-icon {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;

    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #ff385c;
    padding: 1rem;
  }
}
