.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  column-gap: 2.25rem;
  row-gap: 1rem;

  // padding-inline-start: 5rem;
  // padding-inline-end: 5rem;
}

.result {
  flex: 0 1 auto;
  overflow: auto;
}
