.skeleton {
  width: 100%;
  aspect-ratio: var(--card-aspect-ratio);

  .line {
    height: 1.25rem;
    border-radius: 0.5rem;
  }
  .line1 {
    width: 50%;
  }
  .line2 {
    width: 30%;
  }

  .rect {
    width: 100%;
    height: 100%;
    border-radius: var(--card-radius);
    margin-bottom: 0.5rem;
  }

  div {
    background-color: #eeeeee;
    position: relative;
    margin-bottom: 0.5rem;
  }

  div::before {
    content: '';
    box-shadow: 0 0 10px 10px #ffffff;
    opacity: 0.2;
    width: 0;
    height: 100%;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    animation: load 1s ease 0s infinite normal;
  }
}

@keyframes load {
  from {
    left: -30px;
  }
  to {
    left: calc(100% + 30px);
  }
}
