.card-container {
  width: 100%;
  height: 100%;
  --card-aspect-ratio: 700/475;
  --card-radius: 15px;
  --text-area-height: 20px;
}

.card {
  position: relative;

  --card-padding: 1rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  .slide-container {
    position: relative;
    aspect-ratio: var(--card-aspect-ratio);
    margin-bottom: 0.5rem;

    .image-container {
      position: relative;
      height: 100%;
      overflow: hidden;
      position: relative;
      border-radius: var(--card-radius);

      div[data-slider] {
        position: absolute;
        display: flex;
        left: 0;
        transition: transform 0.5s ease;

        .slide {
          text-decoration: none;
          color: inherit;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .indicator-row {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      bottom: 0.75rem;

      .slide-dot {
        background-color: #ffffff;
        width: 0.5rem;
        aspect-ratio: 1/1;
        border-radius: 0.25rem;
      }

      .not-current {
        opacity: 0.5;
      }
    }

    .card-overlay {
      position: absolute;
      width: 100%;
      height: 100%; // ensure buttons is aligned center
      top: 0;
      z-index: -1;
      padding-inline: var(--card-padding);
      display: flex;
      justify-content: space-between;

      .icon-btn {
        display: none;
      }

      &:hover .icon-btn {
        display: block;
      }
    }

    &:hover .card-overlay {
      z-index: 0;
    }
  }

  .like {
    position: absolute;
    top: var(--card-padding);
    right: var(--card-padding);

    font-size: 1.25rem;
    opacity: 0.8;

    // border
    stroke: white;
    stroke-width: 40px;
  }

  .card-label {
    position: absolute;
    top: var(--card-padding);
    left: var(--card-padding);

    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    width: fit-content;

    font-size: 0.875rem;
  }
}

.card-text {
  .location {
    display: flex;
    justify-content: space-between;

    .rating {
      display: flex;
      gap: 0.25rem;
      .star {
        font-size: 0.875rem;
        margin: auto;
      }
    }
  }
  .price {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
