.room-page {
  width: 100%;
  padding-inline: 5rem;

  .page-body {
    display: flex;

    .info-container {
      // flex-grow: 2;
      width: 70%;
    }

    .form-container {
      // flex-grow: 1;
    }
  }
}

.info-box {
  padding: 2rem 0rem;
  border-bottom: 1px solid #dddddd;

  > h2 {
    margin-bottom: 1rem;
  }

  > h3 {
    font-size: 1rem;
  }
}
