.room-header {
  display: flex;
  justify-content: space-between;
}

.room-action {
  display: flex;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: underline;
  }

  > svg {
    margin-right: 0.5rem;
  }
}

.room-body {
  width: 1120px;
}

svg {
  height: 1.5rem;
}

.fa-icon {
  margin-right: 1rem;
}

.info-box {
   border-bottom: 1px solid #DDDDDD;
   padding: 2rem 0rem;
}

.info-box {
  > h2 {
    margin-bottom: 1rem;
  }

  > h3 {
    font-size: 1rem;
  }
}


.photo-grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  width: auto;
  padding: 1.5rem 0px 0px;
}

.photo-1 {
  width: 560px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  border-radius: 10px 0px 0px 10px;
}

.photo-2,
.photo-3,
.photo-4,
.photo-5 {
  width: 273px;
}

.photo-3 {
  border-radius: 0px 10px 0px 0px;
}

.photo-5 {
  border-radius: 0px 0px 10px 0px;
}

.general-info {
  padding: 2rem 0rem;
}

.room-info {
  width: 70%;
}

.amenity-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.review-overall {
  display: flex;
  margin: 5px;
}

.amenity {
  display: flex;
  align-items: baseline;
  padding-bottom: 1rem;
}

.room-info-box {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  margin: 20px 0px;
}

.host-pic {
  width: 2.5rem;
  border-radius: 50%;
}

.host-box {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.host-info {
  font-size: 14px;
  color: #6A6A6A;
}

.amenity-info-box {
  border: 2px solid darkslategray;
  border-radius: 10px;
  width: fit-content;
  padding: 15px;
  margin: 20px 0px;
}

.amenity-name {
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
}

.review-container {
  display: flex;
  justify-content: space-between;
}

.score-item:not(:first-child) {
  border-left: 1px solid #DDDDDD;
  padding: 0px 40px;
  margin: 20px 0px;;
}

.score-item {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.rating-item {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #6A6A6A;
}

.rating-bar {
  height: 5px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
  margin: auto 0.5rem;

  .bar-body {
    --bar-width: 0%;

    background-color: #DDDDDD;
    position: relative;
    width: inherit;
    height: inherit;

    &::before {
      content: "";
      position: absolute;
      background-color: #6A6A6A;
      width: var(--bar-width);
      height: inherit;

      animation: load-bar 2s ease 0s 1 normal;
    }

    @keyframes load-bar{
      from {width: 0%;}
      to {width: var(--bar-width);}
    }
  }
}